---
import BaseLayout from '../layouts/BaseLayout.astro';
import Prose from '../components/Prose.astro';
const pageTitle = '페이지를 찾을 수 없습니다.';
---

<BaseLayout title="pageTitle" is404Page={false}>
  <Prose>
    <h1 class="font-overpass-mono text-4xl">
      {pageTitle}
    </h1>
    <a
      href="/"
      class="bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded inline-block no-underline"
      data-astro-reload
    >
      메인으로
    </a>
  </Prose>
</BaseLayout>
